# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # NuGet (/*.csproj)
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: daily
      time: '08:00'
      timezone: Japan
    milestone: 8
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope

  # GitHub Actions (/.github/workflows/*.yml)
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '08:00'
      timezone: Japan
    milestone: 8
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: ci(gh-actions)

  # .NET SDK (/global.json)
  - package-ecosystem: dotnet-sdk
    directory: '/'
    schedule:
      interval: daily
      time: '08:00'
      timezone: Japan
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: build(dotnet-sdk)

  # Dev Container Features (/.devcontainer/devcontainer.json)
  - package-ecosystem: devcontainers
    directory: '/'
    schedule:
      interval: daily
      time: '08:00'
      timezone: Japan
    labels:
      - 'dependabot :robot:'
    milestone: 8
    commit-message:
      prefix: ci(devcontainer)
