name: Release

on:
  release:
    types:
      - published

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # enable GitHub OIDC token issuance

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Login to NuGet (with OIDC)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ vars.NUGET_USER_NAME }}

      - name: Restore
        run: dotnet restore --locked-mode
      - name: Release Build & Pack
        run: dotnet pack --configuration Release --no-restore --output nupkgs -p:Version=${TAG_VERSION:1}
        env:
          TAG_VERSION: ${{ github.event.release.tag_name }} # v0.0.0-abc

      - name: Publish to NuGet
        run: dotnet nuget push "nupkgs/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ steps.login.outputs.NUGET_API_KEY }}
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: packages
          path: nupkgs/
          include-hidden-files: true
